
/*css reset*/
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
font-family: 'Raleway', ;
font-family: 'Roboto Mono', ;
font-family: 'Rubik', ;
font-family: 'Heebo', ;

}



html,
body{

	background-color: #E1DADA;
}

footer{
	width: 100%;
}




/*start landing page*/
#jumboland{
	
	margin-bottom: 0;
	border-radius: 80px;
	position: absolute;
 	top: 30%;
 	left: 50%;
 	transform: translate(-50%,-50%);
 	background-color: #aaa9ad;
 	/*background-color: rgba(213, 222, 235, 0.5);*/
 	padding: 20px;
 	padding-left: 50px;
 	padding-right: 50px;
 	border: 2px solid #576574;
 	background-color: linear-gradient(#576574);
 	 background-color: rgba(163, 101, 174, 0.1);
 	/*background: linear-gradient (to bottom, #D2CCC4 2%, #2F4353 80%);*/
 	
}

#jumboland1{
	
	margin-bottom: 0;
	
	position: absolute;
 	top: 60%;
 	left: 50%;
 	transform: translate(-50%,-50%);
 	background-color: rgba(213, 222, 235, -1);
 	
}




#jumboland h1
{
	/*color: #8C1325;*/
	color: white;
	text-align: left;
	font-size: 40px;
	font-weight: 200;
	font-weight: bolder;
	font-family: 'Raleway';
	letter-spacing: 2px;
	text-shadow: 1px 1px 1px #0D324D;

}


.btnindex{
	background-color: #0D324D;
	color: gold;
}


#jumboland1 p{
	color: red;/*#FCAB6A*/
	text-align: center;
	font-size: 20px;
	font-family: 'Raleway';
	font-weight: bolder;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px black;
	margin: 0 auto;
}
.my-4{
	color: white;
	height: 3px;
}

.btnlp a{
	margin: auto;
	/*text-align: center;*/
}

.btnlp{
 border: 1px solid black;
 padding-top: 5px;
 padding-bottom: 5px;
 padding-left: 10px;
 color: #8C1325;
 text-decoration: none;
 background-color: rgba(213, 222, 235, -1);
/* background-color: gold;*/
 text-align: center;
 margin-top: 20px;
 margin-left: 40px;
 font-family: 'Raleway';
 font-size: 20px;
 font-weight: bolder;
 letter-spacing: 5px;
 width: 80%;

}
.btnlp:hover{
 background-color: rgba(213, 222, 235, -1);
 color: red;
 font-weight: 20px;
 border: 2px solid red;
 font-family: 'Raleway';
  font-weight: bolder;
  }

  /*CSS HOME PAGE*/

  /*navbar*/
 .navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  padding: .08rem;
  float: right;
  background-color: rgba(163, 101, 174, 1);
  position: fixed;
  background-image: url("../image/menubar.jpg");
  color: white;

}

#navbarNav{
	margin-right: 30px;

}
.nav-link{
	color: white;
}
.navbar-light .navbar-nav .nav-link {
   color: white;
}

.navbar-light .navbar-nav .active.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show.nav-link {
   color: white;
}

#imglp{
	background-image: cover;
	margin: auto;
	float: center;
	background-repeat: no-repeat;
}

.logo{
	height: 60px;
	width: 70px;
	float: left;
	margin: 20px;
	border-image: 2px solid white;
	background-repeat: no-repeat;

}
.logoname{
	font-size: 30px;
	font-weight: bolder;
}

.navbarbrand{
	height: 20px;
	width: 20px;
	float: left;
	color: #0D324D;
	font-size: 30px;
	font-weight: bolder;
}

.navbar a {

  float: right;

  display: block;

  color: #f2f2f2;

  text-align: center;

  padding: 14px 16px;

  text-decoration: none;

  font-size: 17px;

  

}

.navbar a:hover {

  background: #ddd;

  color: black;

  background-color: gold;
  border-radius: 1px solid gold;

}

/*.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
	
}*/

/*.navbar .navlink:hover {
 
  color: black;
  background-color: rgba(163, 101, 174, 0.3);
  position: fixed;
  border: 3px color gold;
  background-color: white;
}*/


/*about/*/

#jumbotron-about{

}
p{
	font-size: 15px
}
h1,
h2,
h3,
h4{
	font-size: 30px
}

h5,
h6{
	font-family: 'Playfair Display'
}
#aboutid1{
	font-size: 30px;
	font-weight: bolder;
	font-family: 'Raleway';
	
}

#aboutid1 h2{
	font-size: 30px;
	font-weight: bolder;
	font-family: 'Raleway';
	
	
}

#aboutid2{
	margin-left: 30px;
	margin-right: 30px;
	padding: 15px;
	border: 2px solid #8C1325;

}


#aboutmission{
	background-color: #434343;
	color: white;
	font-family: 'Raleway';
	padding: 50px;
	margin-top: 20px;
	margin-left: 30px;
	margin-right: 30px;
}
#aboutvision{
	background-color: #434343;
	color: white;
	font-family: 'Raleway';
	padding: 50px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 20px;

}

.imgvision{
	height: 330px;
	width: 800%;
	border-radius: 50px;
	text-align: center;
}
.imgmission{
	height: 220px;
	width: 800%;
	border-radius: 50px;
	text-align: center;
}

/*GMAP*/
.gmap{
	width: 100%;
	height: 100%;
	
	margin: auto;
	border: 1px solid grey;
	padding-bottom: 20px;


}


.jumboborder{
	border-radius:10px;
	padding: 10px;
}

/*home*/
#home-landing{
	background-color: #333;
	color: #f2f2f2;
	margin-bottom: 0;
	padding: 20%;
}

/*contact*/

/*#aboutid1{
	margin-bottom: -50px;
}*/
#frmmessage{
	width: 60%;
	height: 150;
	text-align: left;
	padding-top: 70px
	background-color: rgba(213, 222, 235, -1);
	
	margin-top: 50px;
	/*border: 2px solid black;*/
	padding-right: 30px;
	padding-left:30px;
	padding-bottom: 10px;
	border: 2px solid grey;
	
}

#contactbox1 form{
	width: 80%;
	height: 120;
	text-align: left;
	border: 2px solid grey;
	/*background-color: rgba(213, 222, 235, 0.5);*/
	padding: 20px;
	margin-top: 20px;
	border-radius: 3px;
	padding-left: 30px;
	padding-right: 20px;
	padding-top: 20px;
}
#contacth2{
	margin-bottom: -10px;
	width: 100%;
}

#contactbox{
margin-top: 150px;
/*height: 100%;
width: 100%;*/
padding-right: 30px;
padding-left: 30px;
padding-bottom: 30px;
margin-bottom: 50px;
}

.card1{
	width: 80%;
	margin: auto;
	margin-top: 30px;


}
	




/*service*/

/*carousel*/	

#carousel-home{
	height: 100vh;


}

#carousel-home img{
	height: 400px;
	width: 800px;
	/*background-image: rgba(213, 222, 235, 1);*/
	border: 5px solid grey;
	border-radius: 5px;
}
#carouselbg{
	border: 5px solid grey;
	border-radius: 2px;
	 background-color: rgba(163, 101, 174, 0.6);
	 padding: 10px;
}

.carousel-inner{
	width: 100%;
}
/*.row{
	padding: 30px;
	background-image: url("../image/contactus1.jpeg");
}*/
.card img{
	height: 100%;
}
.card{
	width: 150%;
	height: 120;
	text-align: left;
	border: 2px solid grey;
	/*background-color: rgba(213, 222, 235, 0.5);*/
	padding: 20px;
	margin-top: 20px;
}

#service1{
	border-color: 2px solid white;
	border-radius: 30px;
	font-size: 20px;
	margin-bottom: 60px;
}
#rowserv{
	border-color: 2px solid white;
	border-radius: 30px;
	margin-bottom: 150px;
}
#servicehead{
	margin-top: 80px;
	margin-bottom: -120px;
}
#footer1{
	 background-image: url("../image/menubar.jpg");
	
 	color: white;

 	margin-top: 150px

 	padding-top: 5px;
 	height: 18%;
 	

}

#footer1  p{
	padding: 0;
	margin: 0;
	font-size: 10px;
}

.img5{
	height: 400px;
	width: 100%;
	text-align: center;
}
#solution1{
	font-size: 20px;
	padding: 30px;
}
.aboutid3{
	margin-bottom: 150px;
}
#contactbox1,
#contactbox2{
	margin-bottom: 36px;
	margin-top: -90px;
}

#boutvm{
	margin-bottom: 300px;
}







